@import url('https://fonts.googleapis.com/css?family=Cantarell|Noto+Sans+HK|Poppins&display=swap'); 

body {background: #D2DBBF;
	color: #000000;
	font-style: 12px; 
}
header {background-color:#D2DBBF;
		color:#193441;
		font-size:2em;
		font-family:'Cantarell', sans-serif;;
}

nav {background-color:#FCFFF5;
	color:#193441;
	font-size:1em;
	font-family:'Poppins', sans-serif;
	text-decoration: none;
	text-align: center;
}

section {color:#193441;
		text-align: center;
		margin-right: 150px;
		margin-left: 150px;
}

section .header{
	font-family: 'Poppins';
}
a {color:#193441;
	text-decoration: none;
	}

img {text-align: center;
	padding: 20px;
}


p {color:#193441;
	font-size: 14px;
	font-family:'Noto Sans HK', sans-serif;
	text-align: center;
	margin-right: 40px;
	margin-left: 40px;
}

h1 {color:black;
	font-size: 20px;
	font-family:'Poppins', sans-serif;
	}