@import url('https://fonts.googleapis.com/css?family=Cantarell|Noto+Sans+HK|Poppins&display=swap'); 

body {background: #D2DBBF;
	color: #000000;
	font-style: 12px; 
}
header {background-color:#FFED74;
		color:#193441;
		font-size:2em;
		font-family:'Cantarell', sans-serif;;
}

nav {background-color:#E8C66A;
	color:#193441;
	font-size:1em;
	font-family:'Poppins', sans-serif;
	text-decoration: none;
	text-align: center;
}

aside {background-color:#FFC675
}

article {background-color:#E89C6C
}

section .woodworks {
	background-color:#FFE2B8;
}

section .customwork { 
	background-color:#FFE2B7
}

section .about { 
	background-color:#FFE2B6
}

section .contact { 
	background-color:#FFE2B5
}

section .events { 
	background-color:#FFE2B4
}

p {color:#193441;
	font-size: 14px;
	font-family:'Noto Sans HK', sans-serif;
	text-align: center;
	margin-right: 40px;
	margin-left: 40px;
}

h1 {color:black;
	font-size: 20px;
	font-family:'Poppins', sans-serif;
	}